div.App, .footer-container {
  display: flex;
  flex-direction: column;
}

.shadow-light {
  box-shadow: 1px 1px 6px 0px rgba(10,10,10,0.4);
}

.no-pad {
  padding: 0px;
}

.no-mar {
  margin: 0px;
}

.btn-normal {
  width: 80px;
  height: 48px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 6px 0px rgba(10,10,10,0.4);
  border: 0px;
  font-weight: bold;
  font-size: 14px;
  transition: .2s;
}

.btn-normal:hover {
  border: 0px;
  background-color: aliceblue;
  cursor: pointer;
  transition: .2s;
}

.btn-normal:active {
  border: 0px;
  box-shadow: inset 0px 0px 6px 0px rgba(10,10,10,0.4);
  background-color: var(--main-bg, white);
  color: var(--text-color, black);
  transition: .2s;
}
