.console {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--console-bg, white);
  border-radius: 6px;
}

.consoleStdout {
  font-size: 16px;
  min-height: 14px;
  max-height: calc(100vh - 88px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  padding: 8px;
}

.consoleContainer {
  position: fixed;
  bottom: var(--console-bottom, -120vh);
  transition: .3s;
  transition-timing-function: ease-in-out;
  box-sizing: border-box;
  width: calc(100vw - 16px)
}

.consoleShow {
  --console-bottom: 8px;
}

.stdinFormInput {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  background-color: unset;
  border-top: 1px solid var(--console-bg, white);
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  outline: 0px;
  color: var(--console-stdin-text-color, white);
  box-shadow: 0px -2px 1px 0px rgba(0,0,0,0.5);
}

.consoleStdContainer {
  background-color: var(--console-stdout-bg, white);
  color: var(--console-stdin-text-color, white);
  display: flex;
  flex-direction: column;
  margin: 8px;
  border: 1px solid white;
  border-radius: 4px;
}
