.modal-background-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  transition: .2s;
}

.modal-background-container.full-height {
  align-items: flex-start;
}

.modal-background-container.hidden {
  display: none;
  transition: .2s;
}

.modal-container {
  z-index: 1;
  background-color: var(--modal-bg, white);
  border-radius: 20px;
}
