.navbar {
  display: flex;
  width: 100%;
  color: var(--nav-text-color, black);
  background-color: var(--nav-bg, white);
  position: sticky;
  z-index: 10;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.title {
  flex-grow: 1;
  overflow: hidden;
}

.botpfp {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  padding: 0px 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
