.navbar {
  display: flex;
  width: 100%;
  font-size: 130%;
  color: var(--nav-text-color, black);
  background-color: var(--nav-bg, white);
}

.title {
  flex-grow: 1;
}

.botpfp {
  padding: 1%;
}

.profile {
  padding: 0px 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
