.sidebarContainer {
  display: flex;
  position: fixed;
  /* height: 100vh; */
}

/* @media only screen and (min-height: 640px) { */
/*   .sidebar-container { */
/*     height: 70vh; */
/*   } */
/* } */

.sidebarLeftContainer {
  border-radius: 0px 10px 10px 0px;
}

.sidebarLeft {
  left: var(--sidebar-container-left, -349px);
}

.sidebarLeft:hover {
  --sidebar-container-left: 0px;
}

.sidebarRightContainer {
  border-radius: 10px 0px 0px 10px;
}

.sidebarRight {
  right: var(--sidebar-container-right, -349px);
  transition-duration: 0.03s;
}

.sidebarRight:hover {
  --sidebar-container-right: -324px;
}

.sidebarLeftContainer,
.sidebarRightContainer {
  gap: 8px;
  background-color: var(--sidebar-bg, white);
  color: var(--sidebar-text-color, black);
  padding: 8px;
  width: 348px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sidebarLeftContainer {
  margin: 16px 0px;
}

.sidebarExpandTriggerLeft,
.sidebarExpandTriggerRight {
  width: 24px;
  background-color: unset;
}

.tinyText {
  font-size: 1px;
}
