div.App.theme-dark {
  --main-bg: #4a4e69;
  --modal-bg: #264653;
  --text-color: white;
  --sidebar-bg: white;
  --sidebar-text-color: black;
  --nav-bg: white;
  --nav-text-color: black;
  --console-bg: #264653;
  --console-stdout-bg: #001d3d;
}

html {
  overflow: hidden;
}

body {
  margin: 0px;
}

#root {
  min-height: 100vh;
}

@media (min-width: 1280) {}

@media (min-width: 1024) {}

@media (min-width: 768) {}

@media (min-width: 640) {}
