div.App.theme-dark {
  --main-bg: #4a4e69;
  --modal-bg: #264653;
  --text-color: white;
  --sidebar-bg: white;
  --sidebar-text-color: black;
  --nav-bg: white;
  --nav-text-color: black;
  --console-bg: #264653;
  --console-stdout-bg: #001d3d;
}

* {
  transition-timing-function: ease-in-out;
  transition: .5s;
}

#root {
  min-height: 100vh;
}

html {
  overflow: hidden;
  overflow-wrap: break-word;
}

body {
  margin: 0px;
}

button {
  transition: .2s;
}

button:hover {
  scale: 105%;
  transition: .2s;
}

img {
  transition: .2s;
}

img:hover {
  scale: 105%;
  transition: .2s;
}

.server-card-img, .server-card-img * {
  transition-delay: 0s;
  transition-duration: 0s;
}

.server-card-img:hover, .server-card-img:hover * {
  transition-delay: 5s;
  transition-duration: 1200s;
}

.server-card-img:hover {
  background-color: black;
}

.server-card-img:hover img {
  scale: 1000%;
  opacity: 0.3;
}

.server-card-img:hover p {
  opacity: 100;
}
